$m: 2rem;
$p: 1rem;
$spacing: 1rem;

$accent: #2158aa;
$accent-darker: #204b8a;

$green: #668043;
$yellow: #f5b353;
$red: #c24b30;
$blue: #2066b4;

$c000: #0f0f0f;
$c010: #303030;
$c090: #dadada;
$c100: #e7e7e7;
